*{
  padding: 0;
  margin: 0;
}
body{ 
    text-align: center; 
    background-color:rgb(5,5,5);
  	font-weight: 100; 
}

@font-face{
    src: url("/font/Square.eot");
}

@media screen and (min-width: 300px) { 
  #logo{
    padding-top: 110px !important;
  }
  #logo > img{
    width: 30% !important; 
  }
  #clockdiv{
    font-size: 50px !important;
  }
  .smalltext{
    font-size: 12px !important;
    margin-top: -20px !important;
  }
  .subscribe-box .subscribe input {
    font-size: 12px !important;
  }
  .subscribe-box h5 {
    font-size: 12px !important; 
  }
  .subscribe-box .subscribe button {
    padding: 0.5em 1em !important;
  }
  .subscribe-box .subscribe button:before {
    right: 8px !important;
    top: 17px !important;
  }
  .subscribe-box .subscribe button:after {
    height: 1px !important;
    right: 168px !important;
    top: 20px !important;
  }
  .subscribe-box .subscribe button span {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) { 
  #logo > img{
    width: 12% !important; 
  }
  #clockdiv{
    font-size: 100px !important;
  }
  .smalltext{
    font-size: 23px !important;
    margin-top: -45px !important;
  }
}

@media screen and (min-width: 992px) { 
  #logo > img{
    width: 12% !important; 
  } 
  #clockdiv{
    font-size: 150px !important;
  }
  .smalltext{
    font-size: 30px !important;
    margin-top: -65px !important;
  }
}

@media screen and (min-width: 1600px) {  
  #logo > img{
    width: 12% !important; 
  }
  #clockdiv{
    font-size: 200px !important;
  }
  .smalltext{
    font-size: 45px !important;
    margin-top: -85px !important;
  }
}

#time{
  max-width: 1128px;
  min-width: 300px;
}
#clockdiv{ 
    font-family: SquareFont; 
    color: #fff; 
    font-weight: 100; 
    text-align: center; 
    font-size: 150px; 
} 
#clockdiv > div{ 
    padding: 0px;  
    display: inline-block; 
} 
#clockdiv div > span{ 
    padding: 0px; 
    display: inline-block; 
} 
.smalltext{ 
    padding-top: 0px; 
    font-size: 35px; 
} 

#logo{
	padding-top: 70px;
	padding-bottom: 100px;
	margin-bottom:-100px;
}
#logo > img{
  max-width: 100%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.wrapper{
	text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/*----------------------- BUTTON -----------------------------*/

.subscribe-box {
  font-family: 'Roboto Mono', monospace;
  padding: 2em 0;
  text-align: center;
  color: white;
}
.subscribe-box h5 {
  margin: 0 0 .85em 0;
  font-weight: 100;
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
}
.subscribe-box .subscribe {
  width: 60%;
  max-width: 900px;
  margin: auto;
}
.subscribe-box .subscribe input {
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid;
  padding: 1em 0 .8em;
  text-align: center;
  font-size: 15px;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.5;
  color: inherit;
  outline: none;
}
.subscribe-box .subscribe input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.subscribe-box .subscribe input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.subscribe-box .subscribe input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.subscribe-box .subscribe input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.subscribe-box .subscribe button {
  all: unset;
  background: transparent;
  border: 2px solid white;
  padding: 1em 4em;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  position: relative;
  transition: all 300ms ease;
}
.subscribe-box .subscribe button span {
  display: inline-block;
  transition: all 300ms ease;
}
.subscribe-box .subscribe button:before, .subscribe-box .subscribe button:after {
  content: "";
  display: block;
  position: absolute;
  transition: all 300ms ease;
  opacity: 0;
}
.subscribe-box .subscribe button:before {
  height: 7px;
  width: 7px;
  background: transparent;
  border-right: 2px solid;
  border-top: 2px solid;
  right: 30px;
  top: 24px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.subscribe-box .subscribe button:after {
  background: white;
  height: 2px;
  width: 50px;
  right: 190px;
  top: 26px;
}
.subscribe-box .subscribe button:hover span {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}
.subscribe-box .subscribe button:hover:before {
  opacity: 1;
}
.subscribe-box .subscribe button:hover:after {
  width: 14px;
  opacity: 1;
  -webkit-transform: translateX(160px);
          transform: translateX(160px);
}
