*{
  padding: 0;
  margin: 0;
}
body{ 
    text-align: center; 
    background-color:rgb(5,5,5);
  	font-weight: 100; 
}

@media screen and (min-width: 300px) { 
  #logo > img{
    width: 12% !important; 
  }
  #clockdiv{
    font-size: 50px !important;
  }
  .smalltext{
    font-size: 12px !important;
  }
}

@media screen and (min-width: 768px) { 
  #logo > img{
    width: 12% !important; 
  }
  #clockdiv{
    font-size: 100px !important;
  }
  .smalltext{
    font-size: 23px !important;
  }
}

@media screen and (min-width: 992px) { 
  #logo > img{
    width: 12% !important; 
  } 
  #clockdiv{
    font-size: 150px !important;
  }
  .smalltext{
    font-size: 30px !important;
  }
}

@media screen and (min-width: 1600px) {  
  #logo > img{
    width: 12% !important; 
  }
  #clockdiv{
    font-size: 200px !important;
  }
  .smalltext{
    font-size: 45px !important;
  }
}

@font-face{

    /*Caso a fonte esteja na mesma pasta*/
    src: url("/font/Square.eot");
}

#time{
  max-width: 1128px;
  min-width: 300px;
}
#clockdiv{ 
    font-family: SquareFont; 
    color: #fff; 
    font-weight: 100; 
    text-align: center; 
    font-size: 150px; 
} 
#clockdiv > div{ 
    padding: 10px;  
    display: inline-block; 
} 
#clockdiv div > span{ 
    padding: 0px; 
    display: inline-block; 
} 
.smalltext{ 
    padding-top: 0px;
    margin-top: -15px; 
    font-size: 35px; 
} 

#logo{
	padding-top: 70px;
	padding-bottom: 100px;
	margin-bottom:-80px;
}
#logo > img{
  max-width: 100%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.wrapper{
	text-align: center;
}

/* BUTTOM CSS */

* {
  box-sizing: border-box;
}

.search {
  width: 40px; /* tamanho do bloco */
  height: 40px; /* tamanho do bloco */
  margin: 40px auto 0;
  background-color: rgb(5,5,5);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.search:before {
  content: '';
  display: block;
  width: 2px;
  height: 100%; 
  position: relative;
  transition: all 0.5s ease;
  visibility: hidden;
}

.search.open {
	background-color: #fff;
  	width: 400px;
  	border-radius: 20px;
}
.search.open:before {
	visibility: visible;
  	content: '';
  	background-color: rgb(5,5,5);
  	height: 24px; /* tamanho da type line */
  	margin: 8px 0 20px 30px;
  	position: absolute;
}
.search-box {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
  background: transparent;
  color: rgb(5,5,5);
  padding: 20px 100px 20px 45px;

  font-size: 17px;
}
.search-box:focus {
  outline: none;
}
.search-button {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  right: 1px;
  top: 0px;
  padding: 20px;
  cursor: pointer;
}
.search-icon {
  width: 28px;
  height: 28px;
  border-radius: 40px;
  border: 2px solid #fff;
  display: block;
  position: relative;
  margin-left: 47px;
  margin-top: -14.5px;
  transition: all 0.5s ease;
}
.search-icon:before {
  content: '';
  width: 2px;
  height: 15.7px; /* tamanho da linha da esquerda */
  position: absolute;
  right: 18px; /* linha da esquerda do search */
  top: 5px;
  display: block;
  background-color: #fff;
  transform: rotate(-60deg);
  transition: all 0.5s ease;
}
.search-icon:after {
  content: '';
  width: 2px;
  height: 15.7px;/* tamanho da linha da direita */
  position: absolute;
  right: 4.8px; /* linha da direita do search */
  top: 5px;
  display: block;
  background-color: #fff;
  transform: rotate(60deg);
  transition: all 0.5s ease;
}
.open .search-icon {
	border-color: rgb(5,5,5);
  	margin: 0;
  	width: 28px;
  	height: 28px;
  	bottom: 13px;
  	border-radius: 60px;
  	left: 30px;
}
.open .search-icon:before {
  content: '';
  transform: rotate(52deg);
  right: 10px;
  top: 10px;
  height: 10px; /* tamanho da linha de baixo */
  background-color: rgb(5,5,5);
}
.open .search-icon:after {
  content: '';
  transform: rotate(-230deg);
  right: 10px;
  top: 4.5px;
  height: 10px; /* tamanho da linha de cima */
  background-color: rgb(5,5,5);
}
